<p id="notice"><%= notice %></p>

<p>
  <strong>Like:</strong>
  <%= @comment.like %>
</p>

<p>
  <strong>Dislike:</strong>
  <%= @comment.dislike %>
</p>

<p>
  <strong>Replies:</strong>
  <%= @comment.replies %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
